body
{
    /* Colour Code Reference: https://icolorpalette.com/color/grapefruit */
    background: #fd5956;
    display: block;
}

.heading{
    display: grid;
    grid-template-columns: 10% auto 10%;
    padding: 15px;
    background-color: #480210;
    color: #ffa6a4;
    align-items: center;
}

.heading img{
    justify-content: center;
    max-width: 50px;
    min-width: 45px;
}


h1.title {
    font-size: 40px;
}

.menuList{
    grid-column: 1/4;
    display: flex;
    flex-flow: row nowrap;
}

.menuChild{
    flex-basis: 30%;
    flex-grow: 1;
    margin: 3px;
    background-color: #810301;
    border-style: solid;
    border-width: 3px 0px;
    border-color: #a10401;
    text-align: center;
}

.page
{
    width:auto;
    height:80vh;
    padding: 1vw;
    border:1px solid #fedbda;
}


#page1{
    background: #ffa6a4;
    color:black;
    opacity: 0.8;
}

#page2{
    background:#a90502;
    color: white;
    opacity: 0.8;
}

#page3{
    background:#580201;
    color: white;
    opacity: 0.8;
}

.menuList.menuShow{
    display: flex;
}

.nutritional_facts{
    display: grid;
    
}

/*for responsive menu*/
#hamIcon{display:none;}
@media screen and (max-width:800px){
    #hamIcon{display: block;} /* unhide menu icon */
    .menuList{
        display: none;
        flex-flow: column nowrap;
    }
    .menuChild{
        flex-basis: 100%;
    }
    .heading img{
        justify-content: center;
        max-width: 30px;
        min-width: 25px;
    }
    h1.title {
        font-size: 30px;
    }
    
}
